<a class="nav-link active" routerLink="/data/icn-to-lax">
   인천출발 로스앤젤레스 도착
</a>
<a class="nav-link active" routerLink="/data/icn-to-nrt">
   인천출발 도쿄 도착
</a>
<h2 class="h2">추천 테마 여행지</h2>
<ul class="mris-list">
    <li class="mris-list__item">
        <a href="#" class="mris-list__link">
            <div class="mris-list__scene">
                <img alt="" src="/assets/images/temp/mris__slide1.png" class="mris-list__image" />
            </div>

            <div class="mris-list__explain">
                <p class="mris-list__route">
                    <!-- [수정] 숨김 텍스트 위치 이동 - 이하 동일 -->
                    <span class="_hidden">출발지&nbsp;</span>
                    <span class="mris-list__location">인천</span>
                    <span aria-hidden="true">-</span>
                    <span class="_hidden">도착지&nbsp;</span>
                    <span class="mris-list__location">로마</span>
                    <!-- // [수정] 숨김 텍스트 위치 이동 - 이하 동일 -->
                </p>
                <p class="mris-list__seats">일반석 왕복</p>
                <p class="mris-list__price">
                    <span class="mris-list__number">826,200</span>
                    <span class="mris-list__unit">원</span>
                    <span aria-hidden="true">~</span>
                    <span class="_hidden">부터</span>
                </p>
                <!-- [수정] ul, li로 태그 변경. &nbsp; 삽입. - 이하 동일 -->
                <!-- 
                                여행 테마 클래스 - 이하 동일
                                -rmc : 로맨스
                                -clt : 문화탐방
                                -fmy : 가족 여행
                                -grm : 미식 여행
                                -ntr : 자연 경관
                                -shp : 쇼핑
                                -ntl : 나이트라이프
                                -cty : 도심 여행
                                -rdt : 드라이브
                                -bch : 해변
                                -rlx : 힐링 여행
                                -spt : 스포츠/레포츠/골프
                                -ofr : 오지 탐험
                                -mtn : 산악기행
                            -->
                <ul class="mris-list__theme">
                    <li class="mris-list__theme-item -rmc">로맨스&nbsp;</li>
                    <li class="mris-list__theme-item -clt">문화탐방&nbsp;</li>
                    <li class="mris-list__theme-item -fmy">가족 여행&nbsp;</li>
                    <li class="mris-list__theme-item -grm">미식 여행&nbsp;</li>
                </ul>
            </div>
        </a>
    </li>
    <li class="mris-list__item">
        <a href="#" class="mris-list__link">
            <div class="mris-list__scene">
                <img alt="" src="/assets/images/temp/mris__slide2.png" class="mris-list__image" />
            </div>

            <div class="mris-list__explain">
                <p class="mris-list__route">
                    <span class="_hidden">출발지&nbsp;</span>
                    <span class="mris-list__location">인천</span>
                    <span aria-hidden="true">-</span>
                    <span class="_hidden">도착지&nbsp;</span>
                    <span class="mris-list__location">세부</span>
                </p>
                <p class="mris-list__seats">일반석 왕복</p>
                <p class="mris-list__price">
                    <span class="mris-list__unit">KRW</span>
                    <span class="mris-list__number">3,826,200</span>
                    <span aria-hidden="true">~</span>
                    <span class="_hidden">부터</span>
                </p>
                <ul class="mris-list__theme">
                    <li class="mris-list__theme-item -ntr">자연 경관&nbsp;</li>
                    <li class="mris-list__theme-item -shp">쇼핑&nbsp;</li>
                    <li class="mris-list__theme-item -ofr">오지 탐험&nbsp;</li>
                    <li class="mris-list__theme-item -rlx">힐링 여행&nbsp;</li>
                </ul>
            </div>
        </a>
    </li>
    <li class="mris-list__item">
        <a href="#" class="mris-list__link">
            <div class="mris-list__scene">
                <img alt="" src="/assets/images/temp/mris__slide3.png" class="mris-list__image" />
            </div>

            <div class="mris-list__explain">
                <p class="mris-list__route">
                    <span class="_hidden">출발지&nbsp;</span>
                    <span class="mris-list__location">인천</span>
                    <span aria-hidden="true">-</span>
                    <span class="_hidden">도착지&nbsp;</span>
                    <span class="mris-list__location">부다페스트</span>
                </p>
                <p class="mris-list__seats">일반석 왕복</p>
                <p class="mris-list__price">
                    <span class="mris-list__number">826,200</span>
                    <span class="mris-list__unit">원</span>
                    <span aria-hidden="true">~</span>
                    <span class="_hidden">부터</span>
                </p>
                <ul class="mris-list__theme">
                    <li class="mris-list__theme-item -spt">스포츠/레포츠/골프&nbsp;</li>
                    <li class="mris-list__theme-item -ntl">나이트라이프&nbsp;</li>
                    <li class="mris-list__theme-item -mtn">산악기행&nbsp;</li>
                    <li class="mris-list__theme-item -cty">도심 여행&nbsp;</li>
                </ul>
            </div>
        </a>
    </li>
    <li class="mris-list__item">
        <a href="#" class="mris-list__link">
            <div class="mris-list__scene">
                <img alt="" src="/assets/images/temp/mris__slide4.png" class="mris-list__image" />
            </div>

            <div class="mris-list__explain -white">
                <p class="mris-list__route">
                    <span class="_hidden">출발지&nbsp;</span>
                    <span class="mris-list__location">인천</span>
                    <span aria-hidden="true">-</span>
                    <span class="_hidden">도착지&nbsp;</span>
                    <span class="mris-list__location">시드니</span>
                </p>
                <p class="mris-list__seats">일반석 왕복</p>
                <p class="mris-list__price">
                    <span class="mris-list__number">826,200</span>
                    <span class="mris-list__unit">원</span>
                    <span aria-hidden="true">~</span>
                    <span class="_hidden">부터</span>
                </p>
                <ul class="mris-list__theme">
                    <li class="mris-list__theme-item -rdt">드라이브&nbsp;</li>
                    <li class="mris-list__theme-item -bch">해변&nbsp;</li>
                </ul>
            </div>
        </a>
    </li>
</ul>
<div>
    <button id="a" (click)="click($event)">down</button>
</div>